/* gregorygundersen.com
 * 2020-02-16
 */

body {
	color: rgba(0, 0, 0, 0.8);
	font-family: -apple-system, Helvetica, arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
a {
	/* color: rgba(0, 0, 0, 0.8); */
	color: darkred;
	text-decoration: none;
	/*font-weight: bold;*/
}
#aclick {
	color: darkred;
	text-decoration: none;
}
a:hover {
	/* color: rgba(0, 0, 0, 0.8); */
	color:  darkred;
	text-decoration: underline;
}
h1 {
	font-size: 28px;
	margin-bottom: 0;
}
#landing {
	max-width: 800px;
	margin: 100px auto;
}
#landing img {
	padding-bottom: 20px;
	padding-top: 15px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#content {
	max-width: 800px;
	margin: 100px auto;
	margin-top: -80px;
	line-height: 1.5em;
}
ul#links {
	list-style-type: none;
	padding-left: 0;
	margin: 0 0 20px 0;
}
ul#links li {
	font-family: -apple-system, helvetica, arial, sans-serif;
	display: inline;
	margin-right: 25px;
	font-size: 18px;
}
ul#links li a:hover {
	text-decoration: underline;
}

ul#links li a
ul#links li#contact {
	font-family: courier;
	margin: 0;
}
.section ul {
	padding-left: 15px;
}
.caption {
	color: rgba(0, 0, 0, 0.5);
	margin-top: -3px;
	font-size: 10px;
	padding: 0;
	float: right;
	font-style: italic;
}
FIGURE, FIGCAPTION {
	display: block;
	font-style: italic;
	margin-top: -20px;
	font-size: 14px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.nav,
#papers {
	max-width: 800px;
	margin: 100px auto;
}
#papers {
	margin-top: -80px;
	line-height: 1.5em;
}
#papers h2 {
	margin-top: 30px;
	margin-bottom: 20px;
}
#papers .paper-row {
	margin-bottom: 20px;
}
#papers .paper-title,
#papers .paper-authors,
#papers .paper-venue,
#papers .paper-links {
	margin: 0;
}
#papers .pub-links {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
}
#papers .pub-links li {
	display: inline;
	padding-right: 10px;
}
.nav {
	margin-top: -5px;
	margin-bottom: -5px;
}

.nav a {
	color: darkred;
	text-decoration: none;
	border-bottom: none;
	font-size: 18px;
	float: left;
	text-align: center;
	margin-right: 25px;
}
.nav a:hover {
  	text-decoration: underline;
}
.nav a.active {
  font-weight: bold;
  cursor: default;
  text-decoration: none;
}
.nav-right {
  float: right;
  text-align: center;
  margin-right: -60px;
  font-size: 18px;
  padding-top: 1px;
  padding-right: -10px;
  border-bottom: none;
}
.nav ul {
	list-style-type: none;
	padding: 0;
}
.nav ul li {
	display: inline;
	margin-right: 10px;
}

/* Mobile.
 */
@media screen and (max-width: 600px) {
	body {
		margin: 0 10px !important;
	}
	#landing ul#links li {
		display: block;
	}
	#landing img {
		display: none;
	}
}