/* Lawrence Chillrud
 * <lgc2139@cumc.columbia.edu>
 * 9/27/21
 */

/*font across the website*/
body {
	color: rgba(0, 0, 0, 0.8);
	font-family: -apple-system, Helvetica, arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
/*User selected text highlighting control*/
::selection {
  background: #EFD469; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #EFD469; /* Gecko Browsers */
}
/*Hyperlinks across the website*/
a {
	color: #AD2A1A;
	text-decoration: none;
}
a:hover {
	color: #F26D21;
	text-decoration: underline;
}
h1 {
	font-size: 28px;
	margin-bottom: 0;
}
#landing {
	max-width: 800px;
	margin: 100px auto;
}
#landing img {
	padding-bottom: 20px;
	padding-top: 15px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
FIGURE, FIGCAPTION {
	display: block;
	font-style: italic;
	margin-top: -20px;
	font-size: 14px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#content {
	max-width: 800px;
	margin: 100px auto;
	margin-top: -80px;
	line-height: 1.5em;
}
#content img{
	display: inline;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 25px;
	float: right;
	width: 200px;
	height: auto;
}
#content .paper-row {
	margin-bottom: 20px;
}
#content .paper-title,
#content .paper-authors,
#content .paper-venue,
#content .paper-abstract,
#content .paper-links {
	margin: 0;
}
#content .pub-links {
	list-style-type: none;
	padding-left: 0;
	margin-top: 5px;
}
#content .pub-links li {
	display: inline;
	margin-right: 20px;
	padding: 5px;
	border: 1px;
	border-style:solid;
	border-color: #AD2A1A;
	border-radius: 15px;
}

#content .pub-links li:hover {
	border-color: #F26D21;
}

#content .pub-links li a:hover {
	color: #F26D21;
	text-decoration: none;
}

/* Create two equal columns that floats next to each other */
.row {
	display: flex;
}
.column {
  float: left;
  width: 50%;
  padding: 0px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*Navigation bar*/
.nav {
	margin-top: -5px;
	margin-bottom: -5px;
}
.nav a {
	color: #AD2A1A;
	text-decoration: none;
	border-bottom: none;
	font-size: 20px;
	float: left;
	text-align: center;
	margin-right: 25px;
}
.nav a:hover {
  	text-decoration: underline;
  	color: #F26D21;
}
.nav a.active {
  font-weight: bold;
  cursor: default;
  text-decoration: none;
  color: #AD2A1A;
}
.nav-right {
  float: right;
  text-align: center;
  margin-right: -50px;
  margin-top: -2px;
  padding-top: 1px;
  padding-right: -10px;
  border-bottom: none;
}
.nav-right a {
  font-size: 26px;
}
.nav ul {
	list-style-type: none;
	padding: 0;
}
.nav ul li {
	display: inline;
	margin-right: 10px;
}
/*Designate code font*/
#code {
	font-family: Courier;
}
/*CSS to render LaTeX*/
.tex sub, .latex sub, .latex sup {
	text-transform: uppercase;
}
.tex sub, .latex sub {
	vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}
.tex, .latex, .tex sub, .latex sub {
    font-size: 1em;
}
.latex sup {
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}
/* Mobile.*/
@media screen and (max-width: 600px) {
	body {
		margin: 0 10px !important;
	}
	#landing ul#links li {
		display: block;
	}
	#landing img {
		display: none;
	}
	FIGURE, FIGCAPTION {
		display: none;
	}
	.nav a {
		display: block;
	}
	.nav ul li {
		display: block;
	}
	.nav-right a {
  	display: inline;
  	float: left;
  	text-align: center;
	}

	.nav {
		margin-top: -5px;
		margin-bottom: 20px;
	}

	.nav ul {
		list-style-type: none;
		padding: 0;
	}

	.nav ul li {
		display: inline;
		margin-right: 10px;
	}

	.column {
    width: 100%;
  }

  #content img{
		display: none;
	}
}